$headerBg: url(../img/header_background_v2.jpg);
$fonts: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$navColor: #acc2d1;
$fontColor: #f15729;
$headerButton: blue;
$blockBaground: white;
$mainBackground: rgb(238, 222, 222);
$mainColorText: grey;
$artColor: grey;
$date: lightgrey;
$descriptionBorder: rgb(173, 169, 169);
$fontSize: 18px/26px;
