$headerBg: url(../img/header_background_v1.jpg);
$fonts: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$navColor: grey;
$fontColor:white;
$headerButton:rgb(78, 160, 187);
$blockBaground: lightgrey;
$mainBackground:white;
$mainColorText:black;
$artColor:rgb(78, 160, 187);
$date:red;
$descriptionBorder:grey;
$fontSize:15px/24px;